[submodule "Fabric-Gallery-Backend"]
	path = Fabric-Gallery-Backend
	url = https://github.com/lightning4747/Fabric-Gallery-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/lightning4747/Fabric-Gallery-Frontend
